

body {
  margin: 0;
  background-color: rgb(70, 70, 70);
}

@font-face {
  font-family: RobotoRegular;
  src: url(Font/RobotoRegular.ttf);
}

.Anim {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10px;
  
}

@keyframes bubbleBackground {
  0% {
    background: rgba(255, 255, 255, 0);
    transform: translate(var(--randomFloat-tx),100vh);
    
  }
  30%{
    background: rgba(255, 255, 255, 0.05);
  }
  99% {
    
    background: rgba(255, 255, 255, 0);
    transform: translate(var(--randomFloat-tx),0vh);
  }
}


.particle {
  position: absolute;
  --randomFloat-size:1;
  --randomFloat-tx:1;
  width: var(--randomFloat-size);
  height: var(--randomFloat-size);
  border-radius: 100%;
  animation: bubbleBackground 15s linear infinite;
  animation-delay: calc(20s/var(--i));
  animation-duration: calc(200s/var(--i));
  background-color: rgba(0,0,0,0);
  animation-play-state:running;
}


.basicProfile {
  display: flex;
}

.profileText {
  margin: 0 30% 0px 2%;
  width: 50%;
  font-family: "RobotoRegular";
}

.logo {
  margin: 20% 0px 0px 50%;
  width: 50%;
  height: auto;
}

.Name {
  margin: 14% 0px 0px 0;
  font-family: "RobotoRegular";
  font-size: 5vmin;
  color: rgb(230, 230, 230);
  vertical-align: text-bottom;
}

.job {
  margin: 0px 0px 0px 0;
  font-size: 2vmin;
  color: rgb(192, 192, 192);
}

.nickName {
  width: 50%;
  font-size: 3vmin;
  text-align: center;
  margin-top: 4%;
  margin-left: 50%;
  font-family: "RobotoRegular";
  color: rgb(230, 230, 230);
}

.description {
  margin-left: 4%;
  margin-bottom: 0;
  padding: 2% 2% 2% 2%;
  font-size: 2.5vmin;
  color: rgb(192, 192, 192);
  border: 0.2vmin solid rgb(234, 165, 165);
  border-radius: 5px;
}
.description a{
  color:tomato;
}
.description a:hover{
  color:rgb(75, 213, 255);
}
.description a:active{
  color:rgb(195, 91, 211)
}

.LanguageText p{
  margin-left: 0;
  margin-bottom: 0;
  font-family: "RobotoRegular";
  color:  rgb(216, 216, 214);;
  font-size: 4vmin;
}

.mainLanguage{
  display: flex;
  font-family: "RobotoRegular";
  color:  rgb(216, 216, 214);
  font-size: 3vmin;
  margin-bottom: 0;
}
.mainLanguage li{
  margin-bottom: 30%;
}
.mainLanguage ul{
  margin-bottom: 1%;
}
@keyframes colorChange{
  0%{
    color: var(--color1) ;
    text-shadow: 0px 0px 5px var(--color1),
    0px 0px 0px var(--color1);
  }
  50%{
    color: var(--color2);
    text-shadow: 0px 0px 10px var(--color2),
    0px 0px 20px var(--color2),
    0px 0px 1px var(--color2);
  }
  100%{
    color: var(--color1);
    text-shadow: 0px 0px 5px var(--color1),
    0px 0px 0px var(--color1);
  }
}

#cs{
  --color1:rgb(105, 195, 99);
  --color2:rgb(119, 239, 110);
  
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
#cpp{
  --color1:rgb(231, 77, 138);
  --color2:rgb(249, 114, 168);
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#java{
  --color1:rgb(167, 73, 73);
  --color2:rgb(212, 93, 93);
  animation-name: colorChange;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
#c{
  --color1:rgb(174, 174, 174);
  --color2:rgb(228, 228, 228);
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#html{
  --color1:rgb(200, 123, 71);
  --color2:rgb(255, 165, 105);
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#css{
  --color1:rgb(148, 101, 193);
  --color2:rgb(185, 131, 236);
  animation-name: colorChange;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
#hlsl{
  --color1:rgb(89, 198, 162);
  --color2:rgb(113, 239, 197);
  animation-name: colorChange;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.contactText p{
  margin-left: 0;
  margin-bottom: 2%;
  margin-top: 0;
  font-family: "RobotoRegular";
  color:  rgb(216, 216, 214);
  font-size: 2vmax;
}
.fa{
  margin-left: 3%;
  margin-top: 2%;
}

.fa-facebook {
  
  color: rgb(43, 109, 195);
}

@keyframes colorGoogle{
  0%{
    color: rgb(199, 39, 39) ;

  }
  25%{
    color: rgb(237, 205, 80);

  }
  50%{
    color: rgb(3, 169, 0);
  }
  75%{
    color: rgb(21, 124, 234);
  }
  100%{
    color: rgb(199, 39, 39) ;
  }
}
.facebooktext{
  display: flex;
  
}
.facebooktext a{
  display: flex;
  text-decoration: none;
}
.facebooktext p{
  
  margin-left: 1vmax;
  margin-bottom: 0;
  padding: 2vmin 0 0 0;
  font-size: 1.2vmax;
  text-decoration: underline;
}
.facebooktext p:hover{
  color:rgb(220, 149, 253)
}
.gmailtext{
  display: flex;
}
.gmailtext p{
  
  margin-left: 1vmax;
  margin-bottom: 0;
  margin-top: 2.5vmin;
  font-size: 1.2vmax;
}
.fa-google{
  margin-left: 5vmin;
  animation-name: colorGoogle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.contactText{
  position: fixed;
  left: 2%;
  bottom: 4%;
}
.fa-facebook{
  margin-left: 5vmin;
}
.fa-facebook:hover{
  color: rgb(201, 0, 208);
}
.fa-facebook::before{
  font-size: 5vmin;
}
.fa-google::before{
  font-size: 5vmin;
}
#gmail{
  color:rgb(222, 222, 222);
  margin-left: 2%;
  font-family:"RobotoRegular";
}
.skillText{
  font-family: "RobotoRegular";
  color:  rgb(216, 216, 214);
  font-size: 3vmin;
}
.technicalTittle{
  margin-top: 00;
  margin-bottom: 2%;
  font-size: 4vmin;
}

.technicalContent {
	position: relative;
	margin:5% 0 0 10%;
  padding: 2% 5% 2% 5%;
	width: 38vw;
  border-radius:7px;
	background: linear-gradient(0deg, #14000c, #3b0032);
  color: #dfdfdf;
}

.technicalContent:before, .technicalContent:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
  border-radius:7px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 50s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.technicalContent:after {
	filter: blur(1vmax);
}

.softContent{
  border-radius:7px;
  position: relative;
	margin:5% 0 0 10%;
  padding: 2% 5% 2% 5%;
	width: 38vw;
	background: rgba(255, 255, 255, 0.1);
  color: #dfdfdf;
  margin-bottom: 5vh;
}
.git{
  position: fixed;
  top: 22vh;
  right: 10vw;
  color: white;
}

.fa-github{
  color:white;
}
.fa-github:hover{
  color: #e5aeff;
}
.fa-github::before{
  font-size: 10vmax;
}

.mygit:hover{
  color: #e5aeff;
}
.mygit{
  margin-left: 1vmin;
  margin-top: 0;
}